*{
    margin: 0;
    box-sizing: border-box;
    font-family: Think Big;
}

html{
    height: 100vh;
    overflow: hidden
}

body{
    background-image: url("./img/paraPC.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    cursor: url("./img/cursordefault1.png"), auto;
}

#music{
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
}


/* VISTA 1 */
.containerW1{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    height: 60%;
    margin: 50% 18%;
}


.logoB{
    /* z-index: 2; */
    margin: auto;
    margin:5% 25% -10%;
}

.welcomeWorld{
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 4px 33px;
}

h1{
    letter-spacing: 2.1px;
    color: #f2d307;
    font-size: 2em;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
    line-height: .3em;
}

#btnmostrarW2, #btnmostrarW3{
    display: block;
    padding: 2.2% 2%;
    text-decoration: none;
    font-size: 100%;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    background-color: #f2d307;
    border-radius: 6px;
    border: none;
    align-items: center;
}

#btnmostrarW2:hover {
    background: #f2d307;
    box-shadow: 0 0 10px #FFD966, 0 0 40px #FFD966, 0 0 80px #FFD966;
    transition-delay: 0.2s;
}

.gif1, .gif2{
    display: none;
}


/* VISTA 2 */
.containerW2{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin: 43% 20%;
}

.homePage{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    margin:20px -20px;
    border-radius: 15px;
}

.logoC{
    position: absolute;
    left: 65px;
    top: 335px;
}

.user{
    margin:38px 0px 8px 105px;
}

h2{
    font-family: Think Big;
    font-size: 16px;
    text-align: left;
}

#username{
    width:120px;
    height: 30px;
    border: none;
    border-radius:6px;
    font-size: 16px;
    color:#f22207;
    background-color: white;
}

.gameRulers{
    background-color: white;
    text-align: justify;
    font-size: 11.7px;
    padding:10px;
    margin:15px;
    border-radius: 15px
}


/* VISTA 3 */
.containerW3{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin: 43% 20%;
}

p{
    background: #f22207;
    border-radius:6px;
    margin: -5% 30%;
    width:90px;
    height: 30px;
    font-size: 14px;
    color:#ffffff;
    text-align: center;
}

.timer{
    background: #ffffff;
    border-radius:6px;
    margin: 5% 30%;
    width:100px;
    height: 50px;
    color:rgb(3, 3, 3);
    font-size: 14px;
    text-align: center;
}

.poster{
    width: 100%;
    height: 100%;
}

.memory-game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background: rgb(255, 255, 255);
    margin:10px -55px;
    padding: 10px;
    border-radius: 8px
}

.container-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    /* background-color: #fff; */
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all 1.5s cubic-bezier(0.175, 0.88, 0.32, 1.25);
}

.front{
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.116);
    transform: rotateY(0deg);
}

.back{
    position: absolute;
    cursor: pointer;
    background: rgba(255, 0, 0, 0.158);
    transform: rotateY(180deg);
}

.container-card:hover> .front{
    transform: rotateY(-180deg);
}

/* .container-card:hover> .back{
    transform: rotateY(0deg);
} */


/* .memory-game{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    margin:20px -20px;
    border-radius: 15px
} */
/* 
.memory-game {
    background-color: rgba(255, 255, 255, 0.7)
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 15px
  }

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  } */


@media only screen and (min-width: 820px) {
     /* For desktop: */
    .containerW1{
        margin: 7% 19%;
    }

    .logoA{
        max-width: 32%;
    }

    .containerW1 .logoB{
        max-width: 16%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -65px;
        margin-bottom: -30px ;
    }

    .welcomeWorld{
        margin: -5% 30% 0%;
        padding: 3% 5% 3%;
    }

    h1{
        font-size: 4em;
        -webkit-text-stroke: 0.01px black;
    }

    .gif1{
        display: block;
        position: absolute;
        left: 9%;
        top: 43%;
    }

    .gif2{
        display: block;
        position: absolute;
        right: 5%;
        top: 72%;
    }

    /* VISTA 2 */
    .containerW2{
        margin: 7% 19%;
        background: rgba(255, 255, 255, 0.4);
        flex-direction: column;
        border-radius: 15px
    }

    .homePage{
        margin:20px -20px;
        background: none;
    }

    /* .logoC{
        margin:38px 0px 8px 0px;
    } */

    .user{
        margin:38px 0px 8px 105px;
    }

    h2{
        font-family: Think Big;
        font-size: 16px;
        text-align: center;
    }

    #username{
        width:120px;
        height: 30px;
        border: none;
        border-radius:6px;
        font-size: 14px;
        color:#f22207;
        background-color: white;
    }

    .gameRulers{
        background-color: white;
        text-align: justify;
        font-size: 11.7px;
        padding:10px;
        margin:15px;
        border-radius: 15px
    }
}


@media (min-width: 600px) and (max-width: 820px) {
    /* For tablets: */
    .containerW1{
        margin: 35% 19%;
    }

    .containerW1 .logoA{
        max-width: 70%;
        margin: auto;
    }

    .containerW1 .logoB{
        max-width: 38%;
        margin-left: center;
        margin-top: 5%;
        margin-bottom: -12% ;
    }

    .welcomeWorld{
        margin: 1% 15% 2%;
        padding: 3% 6% 2%;
        line-height: 2.5em;
    }

    h1{
        font-size: 4.5em;
        -webkit-text-stroke: 0.01px black;
    }

    #btnmostrarW2, #btnmostrarW3{
        font-size: 150%;
    }

    .gif1, .gif2{
        display: none;
    }

    /* VISTA 2 */
    
}
